/**
 * Plugin: Signals Widgets
 * Widget styles for the WordPress panel.
 */

.signals-widget-top .widget-title {
    background-image: url('../img/wd-icon.png');
    background-repeat: no-repeat;
    padding-left: 25px;
}
.signals-personal-upload-element,
.signals-ads-upload-element {
    border: 2px dashed #eeeeee;
    margin-top: 20px;
    padding: 14px 0;
    text-align: center;
}
.signals-personal-upload-element span.signals-preview-area,
.signals-ads-upload-element span.signals-preview-area {
    display: block;
    font-size: 12px;
    color: #898989;
    padding-bottom: 6px;
}
.signals-personal-upload-element span.signals-preview-area img,
.signals-ads-upload-element span.signals-preview-area img {
    display: block;
    max-width: 100%;
    height: auto;
    margin-top: -14px;
}
#signals-ads-remove-image,
#signals-ads-remove-image:hover,
#signals-ads-remove-image:focus,
#signals-personal-remove-image,
#signals-personal-remove-image:hover,
#signals-personal-remove-image:focus {
    margin-left: 5px;
    line-height: 26px;
    color: red;
}